/**************************************
VENDOR PREFIXES - NORMALIZE INPUT PLACEHOLDER VALUE
**************************************/

::-webkit-input-placeholder {
   color: #00cc33;
}

:-moz-placeholder { /* Firefox 18- */
   color: #00cc33;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #00cc33;  
}

:-ms-input-placeholder {  
   color: #00cc33;  
}

/**************************************
COLORS
**************************************/
body {
	color: #fff;
	background-color: #555; 	
	font: 300 16px/20px "Work Sans", sans-serif; 
}

#wrapper {
	background-image: url("../assets/background_img.png");
	background-repeat: no-repeat;
	background-color: #555; 
	background-position: center; 	
	background-size: 100% 100%;
}

footer {
	color: #dfe2e5;
}

footer p {
	color: #dfe2e5;
}

h3, p, input {
	color: #00cc33;
}


/**************************************
STRUCTURE
**************************************/
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

#wrapper {
	width: 95%; 
	height: 90%; 
	padding: 0; 
	border: 3px double #ccc; 
	margin: auto;  /* center wrapper within body */
	margin-top: 20px;
}

footer {
	height: 5%;
	clear: both; 
	position: bottom;
	padding: 10px;
}

.desktop-folders {
	float: left;
	height: 100%;
	width: 20%;
	/*margin-right: 0;*/
}

.terminal-box {
	float: left;
	height: 75%;
	width: 60%;
	margin-top: 5%;
	border: 1px solid #dfe2e5;
	background-color: #000;
	overflow: auto;
	position: relative;
	z-index: 0;
	/*bottom: 0; */
/*	z-index: 2; 
*/
}

.terminal {
	margin: 5px 8px;
	position: relative;
}

/**************************************
TYPOGRAPHY
**************************************/
h3, p, input {
	font-size: 14px;
	line-height: 21px;
}

footer {
	font-size: 14px;
}
footer small {
	font-weight: 400;
}

em {
	font-weight: 600;
}


/**************************************
BUTTONS AND INPUTS
**************************************/
.desktop-folders button {
	display: block;	
	width: 100px;
	height: 100px;
	font-size: 14px;
	color: #333;
	line-height: 80px;
	padding-top: 68px;	
	vertical-align: bottom;
	border: none;
}

.desktop-folders #cat-pics {
	background-image: url("../assets/blue_folder.png");
	background-repeat: no-repeat;
	background-size: 100px 100px;
	margin-top: 50px; 
	margin-left: 50px;

}

.desktop-folders #hint {
	background-image: url("../assets/textFile_img.png");
	background-repeat: no-repeat;
	background-size: 100px 100px;
	margin-top: 45px; 
	margin-left: 25px;
}

.desktop-folders #reset {
	background-image: url("../assets/textFile_img.png");
	background-repeat: no-repeat;
	background-size: 100px 100px;	
	margin-top: 75px;
	margin-left: 90px;
}
.desktop-folders button:hover {
	border: 2px solid #000;
}

.prompt input {
	display: inline-block;
	border: none;
	background-color: #000;
	color: #00cc33;
	margin-left: 3px;
	width: 50%;
}

.prompt p {
	display: inline-block;
	border: none;
	background-color: #000;
	color: #00cc33;
	margin-left: 3px;
}

.prompt input:focus {
	border: none; 
}

.prompt h3 {
	display: inline-block;
}

.cat-folder {	
	position: absolute;
	top: 60px;
	left: 45px;
	width: 600px;
	text-align: center;
	border: 1px solid #000;
	background-color: #333;
	/*z-index: 2;*/
}
.cat-folder img {
	display: block;
	float: left;
	width: 40% ;
	/*width: 150px;*/
	margin: 2% 5%;
}

#masks {
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
}

#tabby {

}

.cat-folder a {
	display: block;
	clear: both;
	color: #fff;
}

#wrapper .clicked {
	z-index: 1; 
}

a:hover {
	color: #00cc33; 
}

